{% extends 'User/email/layout.html.twig' %}

{% block body %}
    {% set url = url('reset_password', {token: user.passwordResetToken}) %}
    <p>Reset your password at <a href="{{ url }}">{{ url }}</a></p>
{% endblock %}
