{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('create')), options.link.parameters|default([]))) %}

<a href="{{ path }}">
    {# Here is an example with font-awesome plus icon #}
    <i class="fas fa-plus"></i> {{ (action.label|default('Create'))|trans }}
</a>
