default:
    autoload:
        '': '%paths.base%/tests/Behat/features'
    suites:
        default:
            paths:
                features: 'tests/Behat/features'
            contexts:
                - RestContextFr\RestContextFr
                - Behat\MinkExtension\Context\MinkContext
                - behatch:context:browser
                - behatch:context:debug
                - behatch:context:system
                - behatch:context:json
                - behatch:context:table
                - behatch:context:rest
                - behatch:context:xml
    extensions:
        Behat\Symfony2Extension:
            kernel:
                env: test
                debug: true
                bootstrap: config/bootstrap.php
                path: src/Kernel.php
                class: App\Kernel
        Behat\MinkExtension:
            base_url: "http://localhost/api"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~

