{% extends "emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Review and Enable a New Website User</h1>

  <spacer size="16"></spacer>

  <p class="text-center">A new user, {{ user.name }} <{{ user.email }}>, has just signed up.</p>

  <button class="large expand" href="https://admin.addictovocab.org/#/app_users/%2Fapp_users%2F{{ user.id }}">Review New User</button>
{% endblock %}
