{% extends "emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Forgot Your Password?</h1>

  <spacer size="16"></spacer>
  <p class="text-center">We understand you've forgotten your password. Don't worry, it happens.</p>
  <p class="text-center">Click the link below to reset your password.</p>
  <button class="large expand" href="{{ reset_url }}">Reset Password</button>
{% endblock %}
