{% extends "emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Your Account Has Been Enabled</h1>

  <spacer size="16"></spacer>

  <p>Dear {{ user.name }},</p>
  <p>We have reviewed your website registration and your account has now been enabled. You can sign in with the password you provided during the sign up process.</p>
  <button class="large expand" href="https://addictovocab.org/login">Login</button>
  <p>Many thanks,<br />The Website Team</p>
{% endblock %}
