{% extends "emails/_template.html.twig" %}

{% block content %}
  <h1 class="text-center">Your Password Has Been Updated</h1>

  <spacer size="16"></spacer>

  <p>Dear {{ user.name }},</p>
  <p>Your password has just been updated. If this was you no further action is required. If this was not you please use the forgot password feature to reset your password.</p>
  <p>Many thanks,<br />The Website Team</p>
{% endblock %}
