{% extends 'User/layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email, {label: 'Email'}) }}

        <div>
            <input type="submit" value="Request password" />
        </div>
    {{ form_end(form) }}
{% endblock %}
